@import "../../App.scss";

.project-card {
  @include card;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  .project-image {
    left: -10%;
    position: absolute;
    top: 0;
    width: 80%;

    @include tablet {
      display: none;
    }
  }

  .project-background {
    background: url("../../assets/images/project-card-divider.svg");
    background-size: cover;
    height: 110%;
    position: absolute;
    width: 83%;

    @include tablet {
      display: none;
    }
  }

  .project-content {
    padding: 60px;
    width: 50%;
    z-index: 2;

    @include tablet {
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
    }

    .project-title {
      font-size: $font-size-large;
      line-height: 38px;
      margin-bottom: 30px;
      margin-top: 0;
    }

    .project-description {
      line-height: 27px;
      margin-bottom: 30px;
    }

    .project-technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 30px;
    }

    .project-links {
      @include button-list;

      .project-demo {
        @include button;
        @include primary-button;

        .arrow-icon {
          margin-left: 5px;
        }
      }

      .project-github {
        @include button;
        @include secondary-button;

        .github-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
