@import "../../App.scss";

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .project-image {
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .project-title {
      font-size: $font-size-large;
    }

    .project-technologies {
      display: flex;
      gap: 1rem;
    }
  }
}
