@import "../../App.scss";

.project-card {
  @include card;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  .project-image {
    left: -10%;
    position: absolute;
    top: 0;
    width: 80%;

    @include tablet {
      display: none;
    }
  }

  .project-background {
    background: url("../../assets/images/project-card-divider.svg");
    background-size: cover;
    height: 110%;
    position: absolute;
    width: 83%;

    @include tablet {
      display: none;
    }
  }

  .project-content {
    padding: 60px;
    width: 50%;
    z-index: 2;

    @include tablet {
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
    }

    .project-title {
      font-size: $font-size-large;
      line-height: 38px;
      margin-bottom: 30px;
      margin-top: 0;
    }

    .project-description {
      line-height: 27px;
      margin-bottom: 30px;
    }

    .project-technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 30px;
    }

    .project-links {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;

      .project-demo,
      .project-github {
        @include button;

        &.project-demo {
          background: $blue-1;
          color: white;

          &:hover {
            background: $blue-2;
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
            transform: translateY(-1px);
          }
        }

        &.project-github {
          background: $white;
          color: $blue-1;

          &:hover {
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
            transform: translateY(-1px);
          }
        }
      }
    }
  }
}
