$blue-1: #558bd9; // Primary Button, Link
$blue-2: #76a2e0; // Hover
$blue-3: #99b9e8; // Accent Bar
$blue-4: #ccdcf3; // Background
$blue-5: #eaf1fa;
$purple: #8583bb; // Accent Purple
$black-1: #3d3d3d; // Button on White
$black-2: #595959;
$gray: #e1dcd8;
$white: #ffffff;
