@import "../../App.scss";

.resume {
  .resume-container {
    @include page-container;

    .section-title {
      @include section-title-styles;
    }

    .resume-document {
      border-radius: 4px;
      box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
        0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
  }
}
