@import "../../App.scss";

.contact {
  .contact-container {
    @include page-container;

    .section-title {
      @include section-title-styles;
    }

    .contact-card {
      @include card;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 60px;

      @include tablet {
        padding: 30px;
      }

      .contact-card-image {
        margin: 0 auto;
        width: 75%;
      }

      .contact-header {
        color: $blue-1;
        font-size: $font-size-large;
      }

      .contact-description {
        line-height: 27px;
      }

      .contact-links {
        @include button-list;

        .calendly-button {
          @include button;
          @include primary-button;

          .paper-plane-icon {
            margin-right: 5px;
          }
        }

        .email-link {
          @include button;
          @include secondary-button;

          .envelope-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
