@import "../../App.scss";

.contact {
  .contact-container {
    @include page-container;

    .section-title {
      @include section-title-styles;
    }

    .contact-card {
      @include card;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 60px;

      @include tablet {
        padding: 30px;
      }

      .contact-card-image {
        margin: 0 auto;
        width: 80%;
      }

      .contact-header {
        color: $blue-1;
      }

      .contact-description {
        line-height: 27px;
      }

      .contact-links {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        .calendly-button {
          @include button;

          background: $blue-1;
          color: white;

          &:hover {
            background: $blue-2;
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
            transform: translateY(-1px);
          }

          .paper-plane-icon {
            margin-right: 10px;
          }
        }

        .email-link {
          @include button;

          background: $white;
          color: $blue-1;

          &:hover {
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
            transform: translateY(-1px);
          }

          .envelope-icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
