@import "../../App.scss";

.home {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  margin: 0 15vw;

  .header {
    margin-bottom: 5em;
    text-align: center;
    min-width: 50vw;
  }
}
