@import "../../App.scss";

.home {
  .home-container {
    @include page-container;

    .home-portfolio-name {
      font-family: "Proxima Nova Light", sans-serif;
      font-size: $font-size-xlarge;
      margin-bottom: 40px;
    }
  }
}
