@import "../../App.scss";

.work-experience-card {
  // border: 1px solid red;
  color: $black-1;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .work-experience-header {
    .work-experience-position {
      font-size: $font-size-medium;
    }
    .work-experience-subheader {
      color: $blue-1;

      .work-experience-company-link:hover {
        color: $blue-2;
        text-decoration: underline;
      }
    }
  }

  .work-experience-responsibilities {
    line-height: 25px;
  }

  .work-experience-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .work-experience-date {
    color: $black-2;
    text-align: end;
  }
}
