@import "../../App.scss";

.work-experience {
  &-container {
    @include page-container;

    .section-title {
      @include section-title-styles;
    }

    .vertical-timeline-element {
      &-content {
        padding: 40px;

        @include mobile {
          padding: 20px;
        }

        h2 {
          color: $black-1;
          font-size: $font-size-large;
        }

        p {
          color: $black-1;
          font-size: $font-size-base;
          margin: unset;
        }
      }

      .vertical-timeline-date.vertical-timeline-element-date {
        display: none;
      }
    }
  }
}
