@import "../../App.scss";

.work-experience {
  .work-experience-container {
    @include page-container;

    .section-title {
      @include section-title-styles;
    }

    .kVQcnr {
      padding: 0;

      .hVrIKI.active {
        background: unset;
        color: unset;
      }
    }
  }
}
