@import "../../App.scss";

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 24px;
  top: 24px;
}

.bm-burger-bars {
  background: $blue-1;
}

.bm-burger-button button:focus {
  outline: 2px solid $blue-2;
  outline-offset: 8px;
}

.bm-burger-bars-hover {
  background: $blue-2;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $black-1;
}

.bm-cross-button button:hover + span span.bm-cross {
  background-color: $blue-2;
}

.bm-cross-button button:focus {
  outline: 2px solid $blue-2;
  outline-offset: 2px;
}

.bm-cross-button button:focus + span span.bm-cross {
  background-color: $blue-2;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: $white;
  padding: 60px 40px;
  font-size: $font-size-medium;

  .active-link {
    color: $blue-1;
  }

  .sleeping-cat-image {
    bottom: -20px;
    left: 10px;
    position: absolute;
    width: 25%;
  }
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bm-item {
  align-items: center;
  color: inherit;
  display: flex !important;
  text-decoration: none;

  .svg-inline--fa {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }

  &:hover {
    color: $blue-2;
    text-decoration: underline;
  }
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
