@import "../../App.scss";

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: $blue-1;
}

.bm-burger-button button:focus {
  outline: 2px solid $blue-2;
  outline-offset: 8px;
}

.bm-burger-bars-hover {
  background: $blue-2;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $gray-3;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: $gray-1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.bm-item:hover {
  color: $gray-3;
  text-decoration: underline;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
