@import "../../App.scss";

.chip {
  align-items: center;
  background-color: $blue-2;
  border-radius: 4px;
  color: $gray-3;
  display: inline-flex;
  height: 24px;
  padding: 3px 6px;

  &:hover {
    background-color: $gray-3;
    color: $black-1;
  }
}
