@import "styles/index.scss";

.app {
  color: $black-1;
  font-family: "Proxima Nova", sans-serif;
  font-size: $font-size-base;
  font-weight: 700;
  height: 100%;

  .routes {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 40px;
  }
}
