@import "styles/index.scss";

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: $blue-4;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  color: $black-1;
  font-family: "Proxima Nova", sans-serif;
  font-size: $font-size-base;
  height: 100%;

  .routes {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 40px;
  }
}
