@import "styles/colors";
@import "styles/fonts.scss";

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.app {
  background-image: url("../src/assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $black-1;
  font-family: "Proxima Nova", sans-serif;
  height: 100vh;
}
